[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
llama-cpp-python = "*"
chromadb = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
